body {
	margin: 0px;
	padding: 0px;
	height:auto;
}

#header {
	width: 100%;
}

h1 {
	height: 61px;
	margin: 0px;
}

h2 {
	margin: 0px;
	height: 37px;
}

#mapColumn {
	width:auto;
	height: 800px;
	position:static;
	margin-right: 260px;
	border-top: 2px solid #444;
	border-right: 1px solid #444;
	border-left: 1px solid #444;
}

#sideColumn {
	position: absolute;
	width: 260px;
	top: 0px; /* h1 height + h2 height +2 */
	right: 0px;
}

.sideItemTitle {
	height: 24px;
}
 
.sideItemTitle h3 {
	margin: 0px;
	float: left;
}

.sideItemTitle a {
	float: right;
	margin-right: 6px;
	margin-top: 6px;
}

.sideItemTitle a img {
	border: 0px;
}

.sideItemContent {
	padding: 8px;
}

ul.nobullets {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}


#tabs ul.tabSwitcher {
	height: 26px;
	margin-left: 0px;
	padding-left: 5px;
	padding-top: 5px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-bottom: 0px;
}

#tabs ul.tabSwitcher li {
	float: left;
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 2px;
	height: 19px;
}

#accountInfo {
	float: right;
	height: 37px;
}

#login {
	display: none;
}

.InfoWindowContent {
	width: 300px;
}


input.editor {
	width: 100%;
}

.tooltip {
	white-space: nowrap;
}
.tabContent {
	overflow: auto;
}

.marker_balloon {
	width: 300px;
}
